/*.DetailsContainer{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.col{
    max-width: 400px;
    margin: 15px;
    height: auto;
    height: 80%;   
}

.publicimage{
    border-radius: 15px;
}

.pubdet{
    font-size: 1.5rem;
}

.firstItem{
    margin-top: 0;
}
.leyendas{
    font-size: 1.8rem;
}

.botonescontainer{
    font-size: 1.8rem;
    margin: 20px;
    justify-content: center;
    text-align: center;
    border-radius: 30px;
    width: 90%;
    height:50px;
}*/
.DetailsContainer {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.col {
    max-width: 400px;
    margin: 15px;
    height: auto;
    height: 80%;
}

.publicimage {
    border-radius: 15px;
}

.pubdet {
    font-size: 1.5rem;
}

.firstItem {
    margin-top: 0;
}

.leyendas {
    font-size: 1.8rem;
}

.botonescontainer {
    font-size: 1.8rem;
    margin: 20px;
    justify-content: center;
    text-align: center;
    border-radius: 5px;
    width: 90%;
    height:50px;
}

.publicimage {
    /* Estilos de las imágenes */
    width: 300px;
    height: 200px;
    cursor: pointer;
}

/* ESTA WEA ES PARA EL MODAL BORRALO SI ES NECESARIO */
.modal {
    /* Estilos del modal */
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modalContent {
    /* Estilos del contenido del modal */
    max-width: 90%;
    max-height: 90%;
    overflow: auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 4px;
    position: relative;
}

.modalImage {
    /* Estilos de la imagen del modal */
    width: 100%;
    height: auto;
}

.closeButton {
    /* Estilos del botón de cierre */
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 8px 12px;
    background-color: #ccc;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}